
[uwsgi]
master = true
vacuum = true
socket = {{socket}}
fastrouter = {{fastrouter}}
fastrouter-subscription-server = {{fastrouter-subscription-server}}
fastrouter-harakiri = {{fastrouter-harakiri}}

